/* @font-face {
    font-family: 'Open Sans', sans-serif;
    src: 'https://fonts.googleapis.com/css2?family=Open+Sans&display=swap';
}

.wrapper {
    
    margin-right: auto; 
    /* margin-left:  auto; 
  
    max-width: 960px;
    
   
    padding-right: 20px; 
    padding-left:  20px; 
    padding-bottom: 20px;

    font-family: 'Open Sans', sans-serif;
    text-align: center;
    
}

.header {
    font-weight: 900;
    color: black;
} */ 